requests==2.28.2
langchain==0.3.27
langchain-openai
langchain-groq==0.3.7
langchain-huggingface==0.3.27
langchain-google-genai==0.3.27
google-generativeai  # no fixed version since it is integrated with LangChain 🚨 confirm if standalone needed
langchain-ollama==0.3.27
chromadb==0.3.8
faiss-cpu==1.7.4
pinecone-client==2.10.4
weaviate-client==3.4.1
langchain-text-splitters==0.3.9
fastapi==0.96.0
uvicorn==0.22.0
langchain-community==0.3.27
pyodbc==4.0.35
python-multipart==0.0.7
